.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.colorTitle {
  color: #ffde59;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #ffde59;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.disclaimer {
  font-size: 10pt;
  max-width: 60%;
}

.aboutText {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
  width: 70%
}

.colorDescription {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #ffde59;
  font-weight: bold;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 80%;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #ffde59;
  border-color: #ffde59;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.searchLocationInput {
  display: flex;
  width: 300px;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
}

.messageInput {
  /* display: flex; */
  width: 300px;
  height: 200px;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
}

.centeredDiv {
  /* align-self: center;
  justify-content: center;
  align-content: center;
  flex: 1; */
  /* margin-right: 10px; */
  text-align: center;
  /* display: block;
  margin-left: auto;
    margin-right: auto; */
}

.searchLocationInput:focus-within {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: rgba(223,225,229,0);
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.searchLocationInput:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.searchLocationInput input {
  height: 32px;
  width: 100%;
  padding: 8px 12px;
  border: none;
  font-size: 16px;
  border-radius: 2px;
}

.searchLocationInput input:focus {
  outline: none;
}

.messageInput:focus-within {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: rgba(223,225,229,0);
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.messageInput:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.messageInput textarea {
  height: 32px;
  width: 100%;
  padding: 8px 12px;
  border: none;
  font-size: 16px;
  border-radius: 2px;
}

.messageInput input:focus {
  outline: none;
}


.modal-content {
  -webkit-box-shadow: -1px 1px 5px 9px #333;
  -moz-box-shadow: -1px 1px 5px 9px #333;
  box-shadow: -1px 1px 50px 1px #333;
}

.modal-header,
.modal-body,
.modal-footer {
  background: #ffde59 !important;
}

.modal-body img {
  width: auto;
  height: 150px;
}


.btnGrad {
  background-image: linear-gradient(
    to right, #5371fe 0%, #ffde59  51%, #5371fe  100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  background-position: left center; /* change the direction of the change here */
  -webkit-transition: padding 2s
 }

 .btnGrad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   transition: 0.3s;
 }

